.cards-container {
    align-items: center;
    padding-top: 36px;
}

.cards__title {
    margin-bottom: 26px;
    font-size: 36px;
    line-height: 42px;
    font-family: var(--seconde-font-family);
    color: #FFFFFF;
    text-shadow: 0px 1px 1px #000000;
}

.cardsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}